body{
    background-color: pink;
}
h1{
    color: aqua;
}
#parrafo{
    color: red;
}
.caja{
    border: solid 1px yellow;
    width: 50px;
    height: 50px;
    margin: 20px;
    padding: 20px;
}
.caja#black{
    border: solid 1px black;
}