*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* outline: solid blue; */
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: black;
}
/* ------HEADER------ */
header, main>section, section.sections{
    width: 100%;
}
header{
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 5px 10px;
}
.navbar{
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 25%;
}
.svg-icon-netflix-logo{
    fill: red;
    width: 100%;
}
.botones{
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
.botones .lan-select{
    padding: 0px 5px;
    border: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.432);
    font-size: .7em;
}
.btn{
    height: 100%;
    padding: 0px 5px;
    border: none;
    color: white;
    background-color: red;
    font-size: .7em;
    transition: .5s;
}
/* ------MAIN------ */
.home{
    /* height: 100vh; */
    background-image: url('../img/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.gradient{
    width: 100%;
    height: 100vh;
    padding: 50px 0px;
    background: radial-gradient(
        circle,
        rgba(0, 0, 0, 0.479),
        rgba(0, 0, 0, 0.836),
        rgb(0, 0, 0),
        transparent 1000px
      );
     display: flex; 
     justify-content: center;
     align-items: center;   
}
.home-txt{
    max-width: 90%;
    text-align: center;
}
.in-btn-cont{   
    width: 90%;
    display: flex;
    justify-content: center;
}
.input-btn{
    max-width: 100%;
}
.input-btn .input{
    width: 50%;
    height: 100%;
    border: none;
    padding: 0px 5px;
    font-size: .7em;
}
.input-btn .btn{
    /* height: 100%; */
}
/* -----SECTIONS----- */
.sections{
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px ;
    /* border: solid 1px blue;   */
}
.s1 .contenido{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.s2 .contenido{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.s3 .contenido{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.s4 .contenido{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.contenido .texto{
    max-width: 90%;
    border: solid 1px red;
}
.contenido .img{
    max-width: 80%;
    border: solid 1px red;
}
.contenido .img img{
    width: 100%;
}

/* -----SIZE txt----- */
   /* 
    1em = 16px
    .5em = 8px
    .25em = 4px
    .125em = 2px
    max------------
    txt-l = 2.5em
    txt-m = 1.5em
    txt-s = 1.25em
    */

.txt-l{
    font-size: 1.7em;
}
.txt-m{
    font-size: .9em;
}
.txt-s{
    font-size: .8em;
}
/* -----SIZE margin-----*/
.m-5{
    margin: 5px;
}
@media (min-width: 426px){
    body{
        font-size: 25px;
    }
    .logo{
        width: 15%;
    }
    .btn{
        height: 100%;
    }
    .botones{
        width: 30%;
        justify-content: space-between;
    }
    .input-btn .btn{
        height: 100%;
    }
    /* -----SIZE margin-----*/
    .m-5{
        margin: 10px;
    }
}
@media (min-width:769px){

    body{
        font-size: 25px;
    }
    .logo{
        width: 10%;
    }
    .botones{
        width: 25%;
    }

    .s1 .contenido{
        width: 80%;
        flex-direction: row;
    }
    .s2 .contenido{
        width: 90%;
        flex-direction: row;
    }
    .s3 .contenido{
        width: 90%;
        flex-direction: row;
    }
    .s4 .contenido{
        width: 90%;
        flex-direction: row;
    }
    .contenido .texto{
        width: 50%;
    }
    .contenido .img{
        width: 50%;
    }  
}
@media (min-width: 1025){
    
}